# Ignore saved tokens
*.pickle

# Ignore credentials
*.json

# Any image
*.png
*.jpg

# Python byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Locally synced photos
/synced_photos/

# Added by cargo

/target
